.venv/
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
DS_Store
.idea/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
*.egg-info/
dist/
build/
pip-wheel-metadata/
.env
.env.*
*.log
*pyc
__pycache__/